repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-ast
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
      - id: poetry-lock
      - id: poetry-check

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier

  - repo: https://github.com/hhatto/autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8

  - repo: https://github.com/psf/black
    rev: "23.7.0"
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: "5.12.0"
    hooks:
      - id: isort

  - repo: https://github.com/PyCQA/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==22.9.23
          - flake8-comprehensions==3.10.0
          - flake8-simplify==0.19.3

  - repo: https://github.com/pycqa/bandit
    rev: "1.7.5"
    hooks:
      - id: bandit
        args: ["--skip", "B101", "--recursive", "clumper"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.5.1"
    hooks:
      - id: mypy
